<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title >
      My Trades - View infos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Card Name: </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Collection: </ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Quality: </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Buyer Name: </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Seller Name: </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Type's Trade: </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item *ngIf="">
      <ion-label>Security Postal Code Buyer </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item *ngIf="">
      <ion-label>Security Postal Code Seller </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Buyer Status </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Seller Status </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Trade Status </ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item >
      <ion-label>Observations </ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
