<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title >
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container-background-color">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="12" class="ion-margin-top">
        <img class="avatar-img" [src]="user.photo" alt="Avatar">
      </ion-col>
      <ion-col size="12">
        <strong>Name: </strong>{{user.displayName}}
      </ion-col>
      <ion-col size="12">
        <strong>Email: </strong>{{user.email}}
      </ion-col>
      <ion-col size="12">
        <ion-button class="bg-green">Chat</ion-button>
      </ion-col>
      <ion-col size="12" class="ion-margin-top">
        <span>Exchange History</span>
        <canvas baseChart 
          [data]="pieChartData" 
          [colors]="pieChartColors"
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
