<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title >
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container-background-color">
  <ion-searchbar  placeholder="Search to card name or location" animated (ionInput)="onSearchCards($event)"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label class="text-bold" style="max-width: 55% !important;">Card Name</ion-label>
      <ion-label class="text-bold" style="max-width: 16% !important;">Quality</ion-label>
      <ion-label class="text-bold">Location</ion-label>
    </ion-item>
    <ion-item *ngFor="let card of cards">
      <ion-label style="max-width: 55% !important; color:cornflowerblue" (click)="createTrade(card)">{{card.name}}</ion-label>
      <ion-label style="max-width: 16% !important;">{{card.quality}}</ion-label>
      <ion-label>{{card.location}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
