<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title >
      Havelist - Add Card
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="searchForm">
    <ion-item>
      <ion-label position="stacked">Card Name</ion-label>
      <ion-input type="text" placeholder="Ex: Akroma" formControlName="searchCard"></ion-input>
      <ion-button type="click" (click)="onSearchCardsToAdd()">Search!</ion-button>
    </ion-item>
  </form>

  <ion-list *ngIf="isList">
    <ion-item>
      <ion-label style="max-width: 44% !important;" class="text-bold">Card Name</ion-label>
      <ion-label style="max-width: 44% !important;" class="text-bold">Collection</ion-label>
      <ion-label style="max-width: 12% !important;" class="text-bold">Add</ion-label>
    </ion-item>
    <ion-item class="container-background-color" *ngFor="let card of cards">
      <ion-label style="max-width: 44% !important;">{{card.name}}</ion-label>
      <ion-label style="max-width: 44% !important;">{{card.setName}}</ion-label>
      <ion-label style="max-width: 12% !important;"><ion-button (click)="onGetCardInfos(card)" color="success"><ion-icon name="add-outline"></ion-icon></ion-button></ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="showFormAdd">
    <form [formGroup]="cardForm">
      <ion-item>
        <ion-label>Card Name: </ion-label>
        <ion-input disabled="true" [value]="card.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Collection: </ion-label>
        <ion-input disabled="true" [value]="card.collection"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Quality: </ion-label>
        <ion-select formControlName="quality" (ionChange)="onEnableButton()" interface="action-sheet">
          <ion-select-option value="M">Mint (M)</ion-select-option>
          <ion-select-option value="NM">Near Mint (MN)</ion-select-option>
          <ion-select-option value="LP">Lightly Played (LP)</ion-select-option>
          <ion-select-option value="MP">Moderately Played (MP)</ion-select-option>
          <ion-select-option value="HP">Heavily Played (HP)</ion-select-option>
          <ion-select-option value="D">Damaged (D)</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Language: </ion-label>
        <ion-select formControlName="language" (ionChange)="onEnableButton()" interface="action-sheet">
          <ion-select-option value="ENG">English (ENG)</ion-select-option>
          <ion-select-option value="POR">Portuguese (POR)</ion-select-option>
          <ion-select-option value="SPA">Spanish (SPA)</ion-select-option>
          <ion-select-option value="FRE">French (FRE)</ion-select-option>
          <ion-select-option value="ITA">Italian (ITA)</ion-select-option>
          <ion-select-option value="JAP">Japan (JAP)</ion-select-option>
          <ion-select-option value="CHI">Chinese (CHI)</ion-select-option>
          <ion-select-option value="RUS">Russian (RUS)</ion-select-option>
          <ion-select-option value="KOR">Korean (KOR)</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>
        <ion-button (click)="addCard()" [disabled]="enableButton == false ? true : false" class="ion-margin-top" expand="full" shape="round">
        Add Card
      </ion-button>
    </form>
  </ion-list>
</ion-content>
