<ion-content class="ion-padding">
  <div class="flex-center">
    <p class="logo">
      <span class="color-p1">P</span>LAYER<span class="color-p2">P</span>LACE
    </p>
    <form [formGroup]="credentialForm">
      <ion-item>
        <ion-input type="text" placeholder="Email Address" formControlName="email" clearInput="true" autoFocus="true"></ion-input>
      </ion-item>
      <div *ngIf="(credentialForm.get('email').dirty || credentialForm.get('email').touched) && credentialForm.get('email').errors" class="errors">
        <span *ngIf="credentialForm.get('email').errors?.required">Email is required</span>
        <span *ngIf="credentialForm.get('email').errors?.email">Email is invalid</span>
      </div>
  
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password" clearInput="true"></ion-input>
      </ion-item>
      <div *ngIf="(credentialForm.get('password').dirty || credentialForm.get('password').touched) && credentialForm.get('password').errors" class="errors">
        <span *ngIf="credentialForm.get('password').errors?.required">Password is required</span>
        <span *ngIf="credentialForm.get('password').errors?.minlength">Password is invalid</span>
      </div>
  
      <ion-button (click)="signIn()" class="ion-margin-top" expand="full" shape="round">
        SignIn
      </ion-button>
    </form>

    <div class="login__register ion-margin-top">
      <p (click)="onRegister()">Don't have a account yet? Click here!</p>
    </div>
    <div class="login__register ion-margin-top">
      <p (click)="onRecover()">Forgot your Password? Click here!</p>
    </div>
  </div>
</ion-content>
