<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title >
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container-background-color">
  <div class="flex-center ion-text-center">
    <p class="ion-margin-start ion-margin-end">Bem vindo ao aplicativo de troca de cartas colecionáveis!</p>
    <p class="ion-margin-start ion-margin-end">Clique no icone do menu no canto superior direito e explore as funcionalidades do app!</p>
  </div>
</ion-content>
