<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title >
      My Trades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container-background-color">
  <ion-searchbar  placeholder="Digite o nome da carta ou do usuario" animated (ionInput)="onSearchCards($event)"></ion-searchbar>
  
  <ion-list>
    <ion-item>
      <ion-label style="max-width: 50% !important;" class="text-bold">Card Name</ion-label>
      <ion-label style="max-width: 30% !important;" class="text-bold">Other User</ion-label>
      <ion-label style="max-width: 20% !important;" class="text-bold">Status</ion-label>
    </ion-item>
    <ion-item *ngFor="let trade of myTrades">
      <ion-label style="max-width: 50% !important; color:cornflowerblue" (click)="openTrade(trade.uid)">{{trade.cardName}}</ion-label>
      <ion-label style="max-width: 30% !important;">{{trade.otherUser}}</ion-label>
      <ion-label style="max-width: 20% !important;">{{trade.status}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
