/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.flex-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.errors{
    font-size: small;
    color: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo {
    font-size: 30px;
    color: #d5e0e2;
}
.color-p1 {
    color: #e2192c;
}
.color-p2 {
    color: #1d469e;
}
.container-background-color {
    --background: #F5F5F5;
}
.avatar-img {
    border-radius: 50%;
    height: 200px;
}
// MTG Colors
.red-color {
    color: #e2192c;
}
.bg-red {
    background-color: #e2192c;
}
.blue-color {
    color: #1d469e;
}
.bg-blue {
    background-color: #1d469e;
}
.green-color {
    color: #00733d;
}
.bg-green {
    // background-color: #00733d;
    --background: #00733d;
}
.white-color {
    color: #f9faf4;    
}
.bg-white {
    background-color: #f9faf4;
}
.dark-color {
    color: #150b00;
}
.bg-dark {
    background-color: #150b00;
}
.artifact-color {
    color: #d5e0e2;
}